// Import library functions for theme creation.
@import '~@angular/material/theming';

// ==================================================
// NOTIFICATIONS
// ==================================================

@mixin notifications-theme($theme) {

  $accent: map-get($theme, 'accent');
  $warn: map-get($theme, 'warn');

  // define error color
  $error: mat-palette($mat-red);


  // colorize the notification counter badge
  .notifications-button {
    .badge {
      background-color: mat-color($accent, 500);
    }
  }
  // colorize notification items
  .mat-list-item {

    &.info {
      background-color: mat-color($accent, 50);
      color: mat-color($accent, 800);

      &:hover {
        background-color: mat-color($accent, 100);
      }
    }
    &.warning {
      background-color: mat-color($warn, 50);
      color: mat-color($warn, 900);

      &:hover {
        background-color: mat-color($warn, 100);
      }
    }
    &.error {
      background-color: mat-color($error, 50);
      color: mat-color($error, 800);

      &:hover {
        background-color: mat-color($error, 100);
      }
    }
  }

  // remove "white" spaces on top and bottom of notification dropdown
  .mat-list-base {
    padding-top: 0px !important;
  }
  .mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

}
