<mat-toolbar class="matero-toolbar">
  <button mat-button class="matero-hamburger" (click)="toggleSidenav.emit()" *ngIf="showToggle">
    <mat-icon>menu</mat-icon>
  </button>

  <app-branding *ngIf="showBranding"></app-branding>
  <span fxFlex></span>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button (click)="toggleFullscreen()" fxHide.lt-sm>
    <mat-icon>fullscreen</mat-icon>
  </button>

  <app-notifications fxHide.lt-sm></app-notifications>

  <app-user></app-user>

  <button mat-button class="matero-hamburger" (click)="toggleSidenavNotice.emit()" fxHide.lt-sm>
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>