
<mat-card>
  <mat-card-header>
    <mat-card-title>Software Update</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <p>Select software update file:</p>

    <div [formGroup]="fileUploadForm">
      <mat-form-field class="file-upload-form">
        <ngx-mat-file-input formControlName="requiredfile" placeholder="Required input" valuePlaceholder="No file selected" required></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>

        <mat-error *ngIf="fileUploadForm.get('requiredfile').hasError('required')">
          Please select a file
        </mat-error>

        <mat-error *ngIf="fileUploadForm.get('requiredfile').hasError('maxContentSize')">
          The total size must not exceed {{fileUploadForm.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}} ({{fileUploadForm.get('requiredfile')?.getError('maxContentSize').actualSize
          | byteFormat}}).
        </mat-error>

      </mat-form-field>
    </div>
    </mat-card-content>
  </mat-card>
