<div
     class="matero-container-wrap matero-header-fixed matero-header-white"
     dir="ltr"
     [ngClass]="{'matero-sidenav-collapsed': options.sidenavCollapsed}">
  <ng-progress [spinner]="false"></ng-progress>

  <mat-sidenav-container class="matero-container" autosize autoFocus>
    <mat-sidenav #sidenav class="matero-sidenav"
                 [mode]="isOver ? 'over' : 'side'"
                 [opened]="options.sidenavOpened && !isOver"
                 (openedChange)="sidenavOpenedChange($event)"
                 (closedStart)="sidenavCloseStart()">
      <app-sidebar (toggleCollapsed)="toggleCollapsed()"
                   [toggleChecked]="options.sidenavCollapsed"
                   [showToggle]="!isOver">
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavNotice position="end" mode="over" opened="false">
      <app-sidebar-notice></app-sidebar-notice>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content-wrap" #content>
      <app-header #header class="matero-header"
                  (toggleSidenav)="sidenav.toggle()"
                  (toggleSidenavNotice)="sidenavNotice.toggle()"
                  [showToggle]="!options.sidenavCollapsed">
      </app-header>

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
