<div *ngIf="status">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Software</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <table>
        <tr>
          <th>Version</th>
          <th>Build date</th>
        </tr>
        <tr>
          <td>{{ status.software.version }}</td>
          <td>{{ status.software.buildDate }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-header>
        <mat-card-title>Role Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <table>
          <tr>
            <th>Role name</th>
            <th>System ID</th>
            <th>System Network Identifier</th>
          </tr>
          <tr>
            <td>{{ status.role.name }}</td>
            <td>{{ status.role.systemId }}</td>
            <td>{{ status.role.systemNetworkIdentifier }}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
</div>
