
<a class="matero-branding" href="/">
    <img *ngIf="showLogo" src="./assets/images/industronic_white.jpg" class="matero-branding-logo-expanded" alt="" />
    <span *ngIf="showName" class="matero-branding-name">MATERO-MOD</span>
</a>