////////
////////  COLORS
////////

// need angular theme definitions
@import '~@angular/material/theming';


//
// INDUSTRONIC color: blue
//  - based on "mat-indigo"
//  - changed:
//      * 100
//      * 800
//      * 900

$indu-blue:(
  50: #E8EAF6,
  100: #E4E4EE,
  200: #9FA8DA,
  300: #7986CB,
  400: #5C6BC0,
  500: #3F51B5,
  600: #3949AB,
  700: #303F9F,
  800: #003375,
  900: #00224e,
  A100: #8C9EFF,
  A200: #536DFE,
  A400: #3D5AFE,
  A700: #304FFE,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

//
// Define different theme palettes
//
//              ([color_name], [default], [lighter], [darker])
// defaults:                      500        100       700
//

$theme-primary: mat-palette($indu-blue, 800, 100, 900);
$theme-accent: mat-palette($mat-teal);
$theme-warn: mat-palette($mat-orange, 700, 100, 900);

// Create Sass color vars (will be available in all the project, when importing variables)
$primary: mat-color($theme-primary);
$accent: mat-color($theme-accent);
$warn: mat-color($theme-warn);
