<a mat-button href="javascript:void(0)" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    <span class="align-bottom">{{ user.userName }}</span>
</a>

<mat-menu #menu="matMenu">
    <a routerLink="/profile/overview" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
    </a>
    <a routerLink="/profile/settings" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </a>
    <a routerLink="/auth/login" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </a>
</mat-menu>
