<mat-card *ngIf="device">
    <mat-card-header>
      <mat-card-title>
          <mat-icon class="device-icon">{{ device.getCategoryIcon() }}</mat-icon>{{device.name}}
          <button mat-icon-button (click)="close()" class="close-icon" color="accent">
            <mat-icon>close</mat-icon>
          </button>
      </mat-card-title>
      <mat-card-subtitle>{{device.type}}</mat-card-subtitle>
    </mat-card-header>
  <mat-card-content>
   <table>
      <tr>
        <th>ID:</th>
        <td>{{device.key}}</td>
      </tr>
      <tr>
        <th>IP-Adresse:</th>
        <td>{{device.ipAddress}}</td>
      </tr>
      <tr class="device-status">
        <th><span matBadgePosition="above before" matBadge="{{ device.getStatusBadgeText() }}" matBadgeColor="{{ device.getStatusBadgeColor() }}">Status:</span></th>
        <td [ngClass]="device.getStatusTextClass()">{{device.status}}</td>
      </tr>
    </table>

    <button mat-mini-fab (click)="select()">
      <mat-icon>input</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
