
@import 'src/styles/colors';

.mat-card {
  margin: 8px;

  .mat-card-header {

    ::ng-deep .mat-card-header-text {
      width: 100%;
    }

    .device-icon {
      vertical-align: bottom;
      margin-right: .4rem;
    }
    .close-icon {
      float: right;

    }
  }

  // details table spacing
  td, th {
    padding: 8px;
    text-align: left;
  }

  tr.device-status {

    th {
      padding-left: 22px;

      span {
        margin-left: -14px;
      }
    }
  }
}
