<div *ngIf="notifications">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="notifications-button">
        <mat-icon>notifications</mat-icon>
        <span class="badge">{{ notifications.length }}</span>
    </button>

    <mat-menu #menu="matMenu">
        <mat-nav-list>
            <mat-list-item *ngFor="let notification of notifications" [ngClass]="notification.level">
              <button mat-icon-button>
                <mat-icon>{{ notification.level }}</mat-icon>
              </button>
              <a matLine href="#">{{ notification.message }}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-menu>
</div>
