<mat-card>
    <mat-card-header>
      <mat-card-title> Karte</mat-card-title>
    </mat-card-header>
  <mat-card-content>
      <div class="plant-view">
        <div class="drag-drop-boundary" >
          <app-device-item [device]="device" *ngFor="let device of devices"></app-device-item>
          <img src="./assets/images/ip2008t.jpg" class="map-image"  (click)="selectDeviceService.deselect()"/>
        </div>
      </div>
  </mat-card-content>
</mat-card>
