<div class="w-full h-full" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z4 m-b-0" style="max-width: 380px;">

    <mat-card-title class="text-center m-b-24">
      <img src="./assets/images/industronic.jpg" class="logo" alt="" />
      <br>
      Welcome!
    </mat-card-title>
    <mat-card-content>
      <form class="matero-form-horizontal" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Simple placeholder" formControlName="username" required>
          <mat-error *ngIf="loginForm.get('username').invalid">Please enter username</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Simple placeholder" type="password"
                 formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password').invalid">Please enter password</mat-error>
        </mat-form-field>

        <div class="m-y-16" fxLayout="row" fxLayoutAlign="space-between center">
        </div>

        <button class="w-full" mat-raised-button color="primary" (click)="login()"
                [disabled]="loginForm.invalid">Login</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
