<div class="matero-auth-container">

  <div class="matero-header-white">
    <mat-toolbar class="matero-toolbar">      
      <app-branding [showName]="false" fxFlex="20"></app-branding>
      <app-branding [showLogo]="false"fxFlex="60" style="text-align: center;"></app-branding>
      <span fxFlex="20"></span>
    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>
</div>
