
<div class="matero-sidebar-panel p-y-16 b-b-1"
fxLayout="column"
fxLayoutAlign="center center"
*ngIf="details"
>
  <h4 class="matero-sidebar-panel-text m-t-0 m-b-16 f-w-400">{{ details.title }}</h4>
  <h5 class="matero-sidebar-panel-text m-t-8 m-b-16 f-w-400">{{ details.subTitle }}</h5>

  <div class="matero-sidebar-panel-icons text-nowrap">
    <a [routerLink]="" (click)="resetScope()" mat-icon-button>
      <mat-icon icon class="icon-18">arrow_back_ios</mat-icon>
      Zurück
    </a>
  </div>
</div>
