<div class="device-item-wrapper"
     matBadge="{{ device.getStatusBadgeText() }}" matBadgeColor="{{ device.getStatusBadgeColor() }}"
     cdkDrag [cdkDragFreeDragPosition]="dragPosition" (cdkDragEnded)="dragEnded($event, device)" cdkDragBoundary=".drag-drop-boundary" >

    <mat-card class="device-card" [ngClass]="{'selected': device.dragDrop.selected}" matTooltip="{{ device.name }}" (click)="selectDeviceService.selectDevice(device)">
        <mat-icon class="icon-18">{{ device.getCategoryIcon() }}</mat-icon>
        {{ device.key }}
    </mat-card>
</div>
