
@import 'src/styles/colors';

.device-item-wrapper {
  position: absolute;

  .device-card {
    display: inline-block;
    padding: .4rem;
    margin: 0;
    cursor: pointer;

    background-color: rgba($primary, .6);
    color: rgba(white, 0.85);

    &:hover,
    &.selected {
      background-color: $primary;
      color: white;
    }
    &.selected {
      border: 2px solid $accent;
      border-style: outset;
    }
    .mat-icon {
      vertical-align: top;

      &.drag-icon {
    color: rgba(white, 0.85);
        cursor: move;
        margin-left: .4rem;

        &:hover {
          color: rgba(white, 0.85);
        }
      }
    }
  }
}
