
// User panel
.matero-sidebar-panel-avatar {
  // Set default width and height can avoid flashing before avatar image loaded.
  width: 64px;
  height: 64px;
  transition: swift-ease-out(transform);
}

.matero-sidebar-panel-text,
.matero-sidebar-panel-icons {
  opacity: 1;
  white-space: nowrap;
  transition: swift-ease-out(opacity);
  display: block;
}

.matero-sidebar-panel-icons {
  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}
