
<div class="matero-sidebar-panel p-y-16 b-b-1"
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="user"
      >
  <h4 class="matero-sidebar-panel-text m-t-0 m-b-16 f-w-400">{{ user.userName }}</h4>
  <h5 class="matero-sidebar-panel-text m-t-0 m-b-4 f-w-400">{{ user.firstName }} {{ user.lastName }}</h5>
  <h5 class="matero-sidebar-panel-text m-t-0 m-b-16 f-w-400">{{ user.email }}</h5>

  <div class="matero-sidebar-panel-icons text-nowrap">
    <a routerLink="/profile/overview" mat-icon-button>
      <mat-icon class="icon-18">account_circle</mat-icon>
    </a>
    <a routerLink="/profile/settings" mat-icon-button>
      <mat-icon class="icon-18">settings</mat-icon>
    </a>
    <a routerLink="/auth/login" mat-icon-button>
      <mat-icon class="icon-18">exit_to_app</mat-icon>
    </a>
  </div>
</div>
